### j'importe le dataframe final du bodacc

In [1]:
import pandas as pd
from datetime import datetime, timedelta 
from keplergl import KeplerGl
df = pd.read_csv('data.csv')
df

,Unnamed: 0,siren,departement,date_publication,activite_déclarée,activte_insee
0,0,392749974,01,2020-01-14,"comptabilité, gestion des entreprises",Activités comptables
1,1,880121256,01,2020-01-14,débit de tabac - journaux - papeterie - bimbel...,Commerce d'alimentation générale
2,2,880461090,01,2020-01-14,vente de contenu informatique.,Vente à distance sur catalogue spécialisé
3,3,488404450,01,2020-01-14,"presse, papeterie, jeux fdj, bimbeloterie, lib...",Débits de boissons
4,4,877997445,01,2020-01-14,site e-commerce : vente en ligne de chocolats,Vente à distance sur catalogue spécialisé
...,...,...,...,...,...,...
20780,20780,845191253,973,2020-01-12,Profession d'avocat,Activités juridiques
20781,20781,849961032,974,2020-01-12,"Snack, plats à emporter",Restauration de type rapide
20782,20782,880240924,974,2020-01-12,"Exploitation de restaurant, pub, bar, discothè...",Restauration traditionnelle
20783,20783,528447212,974,2020-01-12,"Acquisition, administration, exploitation par ...",Location de terrains et d'autres biens immobil...
20784,20784,848597647,974,2020-01-12,L'achat et la gestion de centre de remise en f...,Activités des centres de culture physique

### je rajoute les heures et les minutes

In [2]:
# rajouter les heures et les minutes
test = ' 0:00'
df['date_publication'] = df['date_publication'] + test
df

,Unnamed: 0,siren,departement,date_publication,activite_déclarée,activte_insee
0,0,392749974,01,2020-01-14 0:00,"comptabilité, gestion des entreprises",Activités comptables
1,1,880121256,01,2020-01-14 0:00,débit de tabac - journaux - papeterie - bimbel...,Commerce d'alimentation générale
2,2,880461090,01,2020-01-14 0:00,vente de contenu informatique.,Vente à distance sur catalogue spécialisé
3,3,488404450,01,2020-01-14 0:00,"presse, papeterie, jeux fdj, bimbeloterie, lib...",Débits de boissons
4,4,877997445,01,2020-01-14 0:00,site e-commerce : vente en ligne de chocolats,Vente à distance sur catalogue spécialisé
...,...,...,...,...,...,...
20780,20780,845191253,973,2020-01-12 0:00,Profession d'avocat,Activités juridiques
20781,20781,849961032,974,2020-01-12 0:00,"Snack, plats à emporter",Restauration de type rapide
20782,20782,880240924,974,2020-01-12 0:00,"Exploitation de restaurant, pub, bar, discothè...",Restauration traditionnelle
20783,20783,528447212,974,2020-01-12 0:00,"Acquisition, administration, exploitation par ...",Location de terrains et d'autres biens immobil...
20784,20784,848597647,974,2020-01-12 0:00,L'achat et la gestion de centre de remise en f...,Activités des centres de culture physique

### je recupere le dataframe avec lat et long

In [3]:
df2 = pd.read_csv('Bodacc_p.csv', sep=";")
df2
df2=df2[['Code du Département','geo_point_2d']]

lat=[]
long=[]
for e in df2['geo_point_2d']:
    e=e.split(',')
    lat.append(float(e[0]))
    long.append(float(e[1]))

df2['lat']=lat
df2['long']=long


df2['lat'].round(6)
df2['long'].round(6)

df2 = df2.drop('geo_point_2d',axis=1)
df2 = df2.drop_duplicates()
#df2

### j'attribue le meme nom de colonne "departement" aux 2 dataframes

In [4]:
df3 = df2.rename(columns={"Code du Département": "departement"})
df3

    departement        lat      long
0            2A  41.872575  8.982305
1            31  43.361836  1.182743
2            58  47.114900  3.504057
3            68  47.854422  7.275730
4            72  47.993939  0.227666
..          ...        ...       ...
342          24  45.105925  0.741353
344          35  48.158495 -1.635548
361          40  43.967900 -0.789389
412          79  46.550756 -0.316295
418          36  46.779711  1.574435

[101 rows x 3 columns]

### je join les 2 dataframe avec la key 'departement' en commun

In [5]:
df4 = df.join(df3.set_index('departement'), on='departement')
df4

,Unnamed: 0,siren,departement,date_publication,activite_déclarée,activte_insee,lat,long
0,0,392749974,01,2020-01-14 0:00,"comptabilité, gestion des entreprises",Activités comptables,46.099349,5.349928
1,1,880121256,01,2020-01-14 0:00,débit de tabac - journaux - papeterie - bimbel...,Commerce d'alimentation générale,46.099349,5.349928
2,2,880461090,01,2020-01-14 0:00,vente de contenu informatique.,Vente à distance sur catalogue spécialisé,46.099349,5.349928
3,3,488404450,01,2020-01-14 0:00,"presse, papeterie, jeux fdj, bimbeloterie, lib...",Débits de boissons,46.099349,5.349928
4,4,877997445,01,2020-01-14 0:00,site e-commerce : vente en ligne de chocolats,Vente à distance sur catalogue spécialisé,46.099349,5.349928
...,...,...,...,...,...,...,...,...
20780,20780,845191253,973,2020-01-12 0:00,Profession d'avocat,Activités juridiques,3.922065,-53.237658
20781,20781,849961032,974,2020-01-12 0:00,"Snack, plats à emporter",Restauration de type rapide,-21.133204,55.532509
20782,20782,880240924,974,2020-01-12 0:00,"Exploitation de restaurant, pub, bar, discothè...",Restauration traditionnelle,-21.133204,55.532509
20783,20783,528447212,974,2020-01-12 0:00,"Acquisition, administration, exploitation par ...",Location de terrains et d'autres biens immobil...,-21.133204,55.532509
20784,20784,848597647,974,2020-01-12 0:00,L'achat et la gestion de centre de remise en f...,Activités des centres de culture physique,-21.133204,55.532509

### je suprime le 2 eme index inutile

In [16]:
df6 = df4.drop('Unnamed: 0', axis=1)
df7 = df6.groupby(['departement','date_publication', 'lat', 'long'])['siren'].count()
df7

departement  date_publication  lat         long
01           2020-01-02 0:00    46.099349  5.349928     12
             2020-01-03 0:00    46.099349  5.349928     11
             2020-01-05 0:00    46.099349  5.349928     10
             2020-01-07 0:00    46.099349  5.349928      5
             2020-01-08 0:00    46.099349  5.349928      7
                                                        ..
974          2020-01-15 0:00   -21.133204  55.532509     1
             2020-01-16 0:00   -21.133204  55.532509     2
             2020-01-17 0:00   -21.133204  55.532509    18
             2020-01-19 0:00   -21.133204  55.532509    19
976          2020-01-02 0:00   -12.820613  45.147442    67
Name: siren, Length: 752, dtype: int64

### j'affiche mes données sur une carte kepler

### je rajoute une colonne qui compte le nombre de d'activités

In [7]:
#df6 = df5.groupby(['lat','long']).size()
#df6
df5['counts'] = df5['departement'].map(df5['departement'].value_counts())
df5

,siren,departement,date_publication,activite_déclarée,activte_insee,lat,long,counts
0,392749974,01,2020-01-14 0:00,"comptabilité, gestion des entreprises",Activités comptables,46.099349,5.349928,167
1,880121256,01,2020-01-14 0:00,débit de tabac - journaux - papeterie - bimbel...,Commerce d'alimentation générale,46.099349,5.349928,167
2,880461090,01,2020-01-14 0:00,vente de contenu informatique.,Vente à distance sur catalogue spécialisé,46.099349,5.349928,167
3,488404450,01,2020-01-14 0:00,"presse, papeterie, jeux fdj, bimbeloterie, lib...",Débits de boissons,46.099349,5.349928,167
4,877997445,01,2020-01-14 0:00,site e-commerce : vente en ligne de chocolats,Vente à distance sur catalogue spécialisé,46.099349,5.349928,167
...,...,...,...,...,...,...,...,...
20780,845191253,973,2020-01-12 0:00,Profession d'avocat,Activités juridiques,3.922065,-53.237658,2
20781,849961032,974,2020-01-12 0:00,"Snack, plats à emporter",Restauration de type rapide,-21.133204,55.532509,520
20782,880240924,974,2020-01-12 0:00,"Exploitation de restaurant, pub, bar, discothè...",Restauration traditionnelle,-21.133204,55.532509,520
20783,528447212,974,2020-01-12 0:00,"Acquisition, administration, exploitation par ...",Location de terrains et d'autres biens immobil...,-21.133204,55.532509,520
20784,848597647,974,2020-01-12 0:00,L'achat et la gestion de centre de remise en f...,Activités des centres de culture physique,-21.133204,55.532509,520

In [17]:
map_3 = KeplerGl(height=500)
map_3.add_data(data=df6, name='data')
map_3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21…

In [9]:
df5.groupby(by=["departement"], dropna=False).count()

#df4 = df5.groupby(['departement','lat','long'])['siren'].count()
#df4 = pd.DataFrame(df4)
#df4.reset_index(inplace=True)
#df4

,siren,date_publication,activite_déclarée,activte_insee,lat,long,counts
departement,,,,,,,
01,167,167,167,167,167,167,167
02,92,92,92,92,92,92,92
03,50,50,50,50,50,50,50
04,55,55,55,55,55,55,55
05,108,108,108,108,108,108,108
...,...,...,...,...,...,...,...
971,273,273,273,273,273,273,273
972,263,263,263,263,263,263,263
973,2,2,2,2,2,2,2
974,520,520,520,520,520,520,520
976,67,67,67,67,67,67,67

In [10]:
df4.columns

Index(['Unnamed: 0', 'siren', 'departement', 'date_publication',
       'activite_déclarée', 'activte_insee', 'lat', 'long'],
      dtype='object')

In [11]:
map_4 = KeplerGl(height=500)
map_4.add_data(data=df4, name='data')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21…